/* Start of Base CSS */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* For headers */
.main-color {
    background-color: #6B8E23;
}

ul {
    justify-content: right;
}

a,
footer {
    color: black;
    font-size: 30px;
}

.complementary-color {}

/* White and clean */
.first-accent-color {}

/* For text and accent */
.second-accent-color {}

/* highlighting things */
.highlight-color {}

nav {
    justify-content: space-around;
}

li,
.navbar-brand {
    display: inline-block;
    font-size: 30px;
}




nav a:not(:last-child)::after {
    /* content: "|"; */
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: auto;
    background-color: #D3D3D3;

}

header {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #333;
    /* border-bottom: 2px solid #36454F; */
    /* box-shadow: 0px 5px 0px 0px  ; */
    box-shadow: 0 2px 4px #8FBC8F;
}

/* End of Base CSS */

/* Start of Home CSS */

body {
    background-color: #D3D3D3;
}

.content-container {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-image {
    width: 320px;
    height: 300px;
    margin-left: 20px;
    border: #4682B4 2px solid;
}

.content-text {
    max-width: 600px;
    padding-bottom: 110px;

}

.content-resume {}

.content-icons {
    display: flex;
    justify-content: center;
}

.icon-link {
    margin: 0 10px;
}

.icon-link img {
    width: 50px;
    /* Adjust the size of the icons as needed */
    height: 50px;
}

/* Responsive */
@media (max-width: 950px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
    }
}

/* End of Home CSS */

/* Start of Work Experience Css */
.work-gantt {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;

}

.outer-table {
    border: 2px solid #000;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.outer-table th,
.outer-table td {
    border: 2px solid #000;
    text-align: center;
    padding: 20px;
}

.inner-table {
    border-collapse: collapse;
}

.outer-table ul {
    list-style-type: disc;
    padding-left: 20px;
}

.inner-table td {
    border: transparent;
    padding: 8px;
}

.pratt-logo {
    width: 190px;
    height: 100px;
}

.upr-logo {
    width: 130px;
    height: 130px;
}

.prepa-logo {
    border-radius: 50%;
}

/* End of Work Experience Css */


/* Start of Awards Css */

.carousel-inner img {
    width: 500px !important;
    height: 300px !important;
    margin: auto;
}

.awards-table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.awards-table th {
    text-align: left;
    padding: 10px;
}

.awards-table tr ul li {
    text-align: left;
    color: red;
}


/* End of Awards Css */


/* Start of Leadership Css */
.lead-content {
    margin-top: 20px;
    text-align: center;
}

/* End of Leadership Css */