<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-xzi9RiDOVWwtQvZ6DOWLEpSS33+K8FQTFOtN4DxYvIRBdUmp1/JoOrnptTGFWg5YbBy4g20T/PsRUuIRinTEQg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/javascript/script.js" defer></script>

    <title>{% block title %}{{base_data.title}}{% endblock %}</title>
</head>

<body class="complementary-color second-accent-color">
    <header class="main-color ">
        <nav id="navbar">
        </nav>
    </header>

    <main>
        <div class="container-fluid">
            {% block content %}
            No content
            {% endblock %}
        </div>
    </main>

    <footer class="main-color">
        <div class="footer-content">
            <div class="copyright">
                <p>&copy; <span id="currentYear"></span> {{base_data.copyright}}</p>
            </div>
        </div>
    </footer>


    <script>
        // Function to create navbar dynamically
        function createNavbar() {
            var navbar = document.getElementById("navbar");
            var path = window.location.pathname;

            // Clear existing navbar content
            navbar.innerHTML = "";

            // Iterate through base_data.taskbar and create navbar items
            {% for item in base_data.taskbar %}
            var item_url = "{{ item.url }}";
            if (item_url != path) {
                var link = document.createElement("a");
                link.href = "{{ item.url }}";
                link.textContent = "{{ item.name }}";
                navbar.appendChild(link);
            }
            {% endfor %}
        }

        // Call the function to create navbar
        createNavbar();
    </script>
</body>

</html>