{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block subtitle %}Home Page{% endblock %}

{% block content %}
<div class="content-container">
    <p class="content-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
        dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
    </p>
    <table>
        <tr>
            <td><img class="content-image" src="../static/images/Me/Formal Profile Pic.jpg"
                    alt="Description of the image"></td>
        </tr>

        <tr>
            <td>
                <div class="content-icons">
                    <a href="https://www.linkedin.com/in/gabriel-e-rodriguez-garcia/" class="icon-link">
                        <img src="path/to/icon1.png" alt="Icon 1">
                    </a>
                    <a href="https://github.com/GabrielR1121" class="icon-link">
                        <img src="path/to/icon2.png" alt="Icon 2">
                    </a>
                    <a href="https://leetcode.com/KingShrub/" class="icon-link">
                        <img src="path/to/icon3.png" alt="Icon 3">
                    </a>
                </div>
            </td>
        </tr>

        <tr>
            <td><a href="/resume">My Resume</a></td>
        </tr>
    </table>
</div>


{% endblock %}