{% extends "base.html" %}
{% block title %}{{home_data.title}}{% endblock %}
{% block subtitle %}{{home_data.subtitle}}{% endblock %}

{% block content %}
<div class="content-container">
    <table>
        <tr>
            <td>
                <h1>Gabriel E. Rodriguez Garcia</h1>
            </td>

        </tr>
        <tr>
            <td>
                <p class="content-text">{{home_data.about}}</p>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            {% for data in home_data.profile_picture %}
            <td><img class="content-image" src="{{data.link}}" alt="{{data.alt}}"></td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <a   class="content-resume" href="{{home_data.resume.link}}">{{home_data.resume.title}}</a>
            </td>
        </tr>
        <tr>

            <td>
                <div class="content-icons">
                    {% for data in home_data.other_websites %}
                    <a href="{{data.link}}" class="{{data.class}}" target="{{data.target}}">
                        <img src="{{data.image_path}}" alt="{{data.alt}}">
                        {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}