{% extends "base.html" %}
{% block title %}{{leadership_data.title}}{% endblock %}
{% block subtitle %}{{leadership_data.subtitle}}{% endblock %}
{% block content %}
<!-- Image carousel is still not functioning correctly. It spins once and never starts again -->
<div class="lead-content">
    <div id="{{ leadership_data.data.id }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <ol class="carousel-indicators">
            {% for image in leadership_data.data.images %}
            <li data-bs-target="#{{ leadership_data.data.id  }}" data-bs-slide-to="{{ loop.index }}" {% if loop.first
                %}class="active" {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in leadership_data.data.images %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ image.src }}" alt="{{ image.alt }}">
            </div>
            {% endfor %}
        </div>
    </div>
    <br />

    {% for paragraph in leadership_data.data.paragraphs %}
    <p><strong>{{ paragraph.title }}</strong></p>
    <p>{{ paragraph.text }}</p>
    {% endfor %}

</div>
{% endblock %}