{% extends "base.html" %}
{% block title %}{{project_data.title}}{% endblock %}
{% block subtitle %}{{project_data.subtitle}}{% endblock %}

{%block content%}
<table class="outer-table">
    <tr>
        {%for header in project_data.table_header%}
        <th>{{header.title}}</th>
        {% endfor %}
    </tr>

    {% for key, data in projects.items() %}
    <tr>
        <td>{{data.name}}</td>
        <td>{{data.created}} - {{data.updated}}</td>
        <td>{{data.description}}</td>
        <td>
            <div id="chart{{ loop.index }}"></div>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    {% for key, project in projects.items() %}
    var {{ project.name| replace('-', '_') }} = {{ project.create_chart() | safe }};
    Plotly.plot("chart{{ loop.index }}", {{ project.name | replace('-', '_') }}, {});
    {% endfor %}
</script>
{%endblock%}